@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
* {
  font-family: sans-serif;
}

.topBar {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  align-items: center;
}
.navBar a {
  padding: 0 20px;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 0 auto;
}

#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#find-hospital {
  border: none;
  border-radius: 15px;
  width: 100px;
  padding: 10px;
  align-self: center;
  border: none;
  margin: 10px;
  transition: all 1s; 
}
#find-pharamacy{
  border: none;
  border-radius: 15px;
  width: 100px;
  padding: 10px;
  align-self: center;
  border: none;
  margin: 10px;
  transition: all 1s; 
}

.content {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.content p {
  margin: 10px;
}

#find-location {
  border: none;
  border-radius: 15px;
  width: 100px;
  padding: 10px;
}

.hospitalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn {
  align-self: center; 
  height: 150px;

}
.where {
  width: 1000px;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 3px 3px #e7e7e7;
  padding-bottom: 30px;
}

.hospital {
  margin-top: 20px;
  height: auto;
}

.pharamacy{
  margin-top: 20px;
  height: auto;
}
