<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <script type="text/javascript" src="./script.js"></script>
    <title>Stock</title>
  </head>
  <body>
    <div class="container">
      <div class="topBar">
        <img class="logo" onclick="goIndex()" src="../assets/logo.png" style="width: 60px;"></img>
        <nav class="navBar">
          <a id="hospital" onclick="goHospital()">병원</a>
          <a id="pharmacy" onclick="goPharmacy()">약국</a>
          <a id="medicine" onclick="goMedicine()">약</a>
          <a id="store" onclick="goRecord()">기록</a>
          <a id="stock" onclick="goStock()">게임</a>
        </nav>
      </div>
    </div>
  </body>
</html>
