@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBar {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.navBar a {
  padding: 0 20px;
  font-size: 20px;
}
.text {
  text-align: center;
}
/* #stock-container {
  padding: 20px;
  background-image: url("../assets/stockImage/stock1.jpg");
} */
#stock-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#buttons {
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}

#stock-title {
  display: inline-block;
}
