@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  font-family: sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topBar {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  align-items: center;
  margin-bottom: 100px;
}
.navBar a {
  padding: 0 20px;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  margin: 0 auto;
}

.content {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.content p {
  margin: 10px;
}

.text {
  margin: 40px 0;
}
.intro {
  background-color: #3186ed;
}
#text {
  margin: 10px;
}
/* 브라우저 마진과 패딩 리셋 */
* {
  margin: 0;
  padding: 0;
}

/* INPUT 가리기 */
.section input[id*="slide"] {
  display: none;
}

/* 슬라이드 영역 - max-width 크기를 조절해주면 됩니다*/
.section .slidewrap {
  max-width: 1500px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 30px;
}
.section .slidelist {
  white-space: nowrap;
  font-size: 0;
}
.section .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.5s;
}
.section .slidelist > li > a {
  display: block;
  position: relative;
}
.section .slidelist > li > a img {
  width: 100%;
}

/* 좌우로 넘기는 LABEL버튼에 대한 스타일 */
.section .slidelist label {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}
.section .slidelist .left {
  left: 30px;
  background: url("../assets/left.png") center center / 100% no-repeat;
}
.section .slidelist .right {
  right: 30px;
  background: url("../assets/right.png") center center / 100% no-repeat;
}

/* INPUT 체크되면 변화값이 li까지 전달되는 스타일 */
.section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
}
.section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
}
.section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
}
